---
- name: Deploy semaphore environment file
  template:
    src: semaphore.env.j2
    dest: "{{ semaphore_config_dir }}/semaphore.env"
    owner: root
    group: root
    mode: '0640'
  become: true

- name: Deploy systemd unit
  template:
    src: semaphore.service.j2
    dest: /etc/systemd/system/semaphore.service
    owner: root
    group: root
    mode: '0644'
  become: true
  notify: Reload systemd

- name: Ensure semaphore service is enabled and started
  systemd:
    name: semaphore.service
    enabled: yes
    state: started
  become: true
  when: semaphore_start_immediately | bool
