wp_images:
  nginx: "nginx:1.26-alpine"
  wp_php: "wordpress:php8.4-fpm"
  mariadb: "mariadb:11.8"

services:

  # ---- EDGE NETWORK ----

  traefik:
    image: "traefik:v3.6"
    networks:
      - CF_net
      - internal_net
      - apps_net
    volumes:
      - traefik_data
    domains:
      - "{{ traefik_domain }}"
    traefik_enabled: true
    cloudflared_enabled: true
    cloudflared_origin_verify: true
    cloudflare_zone: "{{ root_domain }}"

  cloudflared:
    image: "cloudflare/cloudflared:2026.1.1"
    networks:
      - CF_net
    volumes:
      - cloudflared_data
    domains: []
    traefik_enabled: false

  # ---- SECURITY ----

  crowdsec:
    image: "crowdsecurity/crowdsec:v1.7.6"
    networks: []
    volumes:
      - crowdsec_data
    domains: []
    traefik_enabled: false

  cf_bouncer:
    image: "crowdsecurity/cloudflare-bouncer:v0.3.0"
    networks: []
    volumes: []
    domains: []
    traefik_enabled: false

  # ---- MONITORING ----

  grafana:
    image: "grafana/grafana:12.3"
    networks:
      - monitoring_net
      - internal_net
    volumes:
      - grafana_data
    domains:
      - "{{ grafana_domain }}"
    traefik_enabled: true
    cloudflared_enabled: true
    cloudflared_origin_verify: true
    cloudflare_zone: "{{ root_domain }}"

  prometheus:
    image: "prom/prometheus:v3.9.1"
    networks:
      - monitoring_net
      - internal_net
    volumes:
      - prometheus_data
    domains:
      - "{{ prometheus_domain }}"
    traefik_enabled: true
    cloudflared_enabled: true
    cloudflared_origin_verify: true
    cloudflare_zone: "{{ root_domain }}"

  loki:
    image: "grafana/loki:3.6.4"
    networks:
      - monitoring_net
      - internal_net
    volumes:
      - loki_data
      - loki_wal
    domains:
      - "{{ loki_domain }}"
    traefik_enabled: true
    cloudflared_enabled: true
    cloudflared_origin_verify: true
    cloudflare_zone: "{{ root_domain }}"

  promtail:
    image: "grafana/promtail:3.6.4"
    networks:
      - monitoring_net
    volumes: []
    domains: []
    traefik_enabled: false

  cadvisor:
    image: "gcr.io/cadvisor/cadvisor:latest"
    networks:
      - monitoring_net
    volumes: []
    domains: []
    traefik_enabled: false

  node_exporter:
    image: "prom/node-exporter:latest"
    networks:
      - monitoring_net
    volumes: []
    domains: []
    traefik_enabled: false

  # ---- OBSERVABILITY ----

  dozzle:
    image: "amir20/dozzle:v9.0"
    networks:
      - management_net
      - internal_net
    volumes: []
    domains:
      - "{{ dozzle_domain }}"
    traefik_enabled: true
    cloudflared_enabled: true
    cloudflared_origin_verify: true
    cloudflare_zone: "{{ root_domain }}"

  # ------ APPS ---------

  bentopdf:
    image: "bentopdf/bentopdf:latest"
    networks:
      - apps_net
    volumes: []
    domains:
      - "{{ bentopdf_domain }}"
    traefik_enabled: true
    cloudflared_enabled: true
    cloudflared_origin_verify: true
    cloudflare_zone: "{{ root_domain }}"

  semaphore:
    version: "v1.16.51"
    networks: []
    volumes: []
    domains:
      - "{{ semaphore_domain }}"
    traefik_enabled: false
    cloudflared_enabled: true
    cloudflared_origin_verify: true
    cloudflare_zone: "{{ root_domain }}"

  # ------ INFRA / TOOLING ---------

  terraform:
    image: "hashicorp/terraform:1.14.3"
    networks:
      - terra_net
    volumes:
      - /srv/data/terraform_data:/data
    domains: []
    traefik_enabled: false
    cloudflared_enabled: false
    cloudflared_origin_verify: false

  minio:
    image: "minio/minio:latest"
    volumes:
      - minio_data
    domains: []
    networks: []
    traefik_enabled: false
    cloudflared_enabled: false

  # ------ WP-SITES ----------------

richweb:
    domains:
      - "{{ richweb_domain }}"
    cloudflared_enabled: true
    traefik_enabled: true
    cloudflared_origin_verify: false
    cloudflare_zone: "{{ root_domain }}"
    ip: "10.20.0.10"

  petitsanglais:
    domains:
      - "{{ petitsanglais_domain }}"
    cloudflared_enabled: true
    traefik_enabled: true
    cloudflared_origin_verify: false
    cloudflare_zone: "petitsanglaisabeziers.fr"
    ip: "10.20.0.11"

  esperance:
    domains:
      - "{{ esperanceorg_domain }}"
    cloudflared_enabled: true
    traefik_enabled: true
    cloudflared_origin_verify: false
    cloudflare_zone: "egliseesperanceagde.org"
    ip: "10.20.0.12"

  hantaweb:
    domains:
      - "{{ hantaweb_domain }}"
    cloudflared_enabled: true
    traefik_enabled: true
    cloudflared_origin_verify: false
    cloudflare_zone: "hartkenci-elle.com"
    ip: "10.20.0.13"
