services:

  # ---- EDGE NETWORK ----

  root:
    image: ""
    domains:
      - "{{ primary_domain }}"
    cloudflared_enabled: true
    cloudflared_origin_verify: true
    networks: []
    volumes: []
    traefik_enabled: false

  traefik:
    image: "traefik:v3.6"
    networks:
      - CF_net
      - internal_net
    volumes:
      - traefik_data
    domains:
      - "{{ traefik_domain }}"
    traefik_enabled: true
    cloudflared_enabled: true
    cloudflared_origin_verify: true

  cloudflared:
    image: "cloudflare/cloudflared:2026.1.1"
    networks:
      - CF_net
    volumes:
      - cloudflared_data
    domains: []
    traefik_enabled: false

  # ---- SECURITY ----

  crowdsec:
    image: "crowdsecurity/crowdsec:v1.7"
    networks:
      - management_net
    volumes:
      - crowdsec_data
    domains: []
    traefik_enabled: false

  cf_bouncer:
    image: "crowdsecurity/cloudflare-bouncer:v0.3"
    networks:
      - management_net
    volumes:
      - cf_bouncer_config
    domains: []
    traefik_enabled: false

  # ---- MONITORING ----

  grafana:
    image: "grafana/grafana:12.3"
    networks:
      - monitoring_net
      - internal_net
    volumes:
      - grafana_data
    domains:
      - "{{ grafana_domain }}"
    traefik_enabled: true
    cloudflared_enabled: true
    cloudflared_origin_verify: true

  prometheus:
    image: "prom/prometheus:v3.9.1"
    networks:
      - monitoring_net
      - internal_net
    volumes:
      - prometheus_data
    domains:
      - "{{ prometheus_domain }}"
    traefik_enabled: true
    cloudflared_enabled: true
    cloudflared_origin_verify: true

  loki:
    image: "grafana/loki:3.6.4"
    networks:
      - monitoring_net
      - internal_net
    volumes:
      - loki_data
      - loki_wal
    domains:
      - "{{ loki_domain }}"
    traefik_enabled: true
    cloudflared_enabled: true
    cloudflared_origin_verify: true

  promtail:
    image: "grafana/promtail:3.6.4"
    networks:
      - monitoring_net
    volumes: []
    domains: []
    traefik_enabled: false

  cadvisor:
    image: "gcr.io/cadvisor/cadvisor:latest"
    networks:
      - monitoring_net
    volumes: []
    domains: []
    traefik_enabled: false

  node_exporter:
    image: "prom/node-exporter:latest"
    networks:
      - monitoring_net
    volumes: []
    domains: []
    traefik_enabled: false

  # ---- OBSERVABILITY & MANAGEMENT ----

  dozzle:
    image: "amir20/dozzle:v9.0"
    networks:
      - management_net
      - internal_net
    volumes: []
    domains:
      - "{{ dozzle_domain }}"
    traefik_enabled: true
    cloudflared_enabled: true
    cloudflared_origin_verify: true
