wp_images:
  nginx: "nginx:1.26-alpine"
  wp_php: "wordpress:php8.4-fpm"
  mariadb: "mariadb:11.8"

services:

  # ---- EDGE NETWORK ----

  traefik:
    image: "traefik:v3.6"
    networks:
      - CF_net
      - internal_net
      - apps_net
    volumes:
      - traefik_data
    domains:
      - "{{ traefik_domain }}"
    traefik_enabled: true
    cloudflared_enabled: true
    cloudflared_origin_verify: true
    cloudflare_zone: "{{ root_domain }}"

  cloudflared:
    image: "cloudflare/cloudflared:2026.1.1"
    networks:
      - CF_net
    volumes:
      - cloudflared_data
    domains: []
    traefik_enabled: false

  # ---- SECURITY ----

  crowdsec:
    image: "crowdsecurity/crowdsec:v1.7.6"
    networks: []
    volumes:
      - crowdsec_data
    domains: []
    traefik_enabled: false

  cf_bouncer:
    image: "crowdsecurity/cloudflare-bouncer:v0.3.0"
    networks: []
    volumes: []
    domains: []
    traefik_enabled: false

  # ---- MONITORING ----

  grafana:
    image: "grafana/grafana:12.3"
    networks:
      - monitoring_net
      - internal_net
    volumes:
      - grafana_data
    domains:
      - "{{ grafana_domain }}"
    traefik_enabled: true
    cloudflared_enabled: true
    cloudflared_origin_verify: true
    cloudflare_zone: "{{ root_domain }}"

  prometheus:
    image: "prom/prometheus:v3.9.1"
    networks:
      - monitoring_net
      - internal_net
    volumes:
      - prometheus_data
    domains:
      - "{{ prometheus_domain }}"
    traefik_enabled: true
    cloudflared_enabled: true
    cloudflared_origin_verify: true
    cloudflare_zone: "{{ root_domain }}"

  loki:
    image: "grafana/loki:3.6.4"
    networks:
      - monitoring_net
      - internal_net
    volumes:
      - loki_data
      - loki_wal
    domains:
      - "{{ loki_domain }}"
    traefik_enabled: true
    cloudflared_enabled: true
    cloudflared_origin_verify: true
    cloudflare_zone: "{{ root_domain }}"

  promtail:
    image: "grafana/promtail:3.6.4"
    networks:
      - monitoring_net
    volumes: []
    domains: []
    traefik_enabled: false

  cadvisor:
    image: "gcr.io/cadvisor/cadvisor:latest"
    networks:
      - monitoring_net
    volumes: []
    domains: []
    traefik_enabled: false

  node_exporter:
    image: "prom/node-exporter:latest"
    networks:
      - monitoring_net
    volumes: []
    domains: []
    traefik_enabled: false

  # ---- OBSERVABILITY ----

  dozzle:
    image: "amir20/dozzle:v9.0"
    networks:
      - management_net
      - internal_net
    volumes: []
    domains:
      - "{{ dozzle_domain }}"
    traefik_enabled: true
    cloudflared_enabled: true
    cloudflared_origin_verify: true
    cloudflare_zone: "{{ root_domain }}"

  # ---- WORDPRESS SITES ----

  richweb:
    cloudflared_enabled: true
    cloudflared_origin_verify: true
    cloudflare_zone: "{{ root_domain }}"
    domains:
      - "{{ richweb_domain }}"

    nginx:
      traefik_network: "wpsites_net"
      image: "{{ wp_images.nginx }}"
      networks:
        - wpsites_net
        - richweb_net
      volumes:
        - richweb_wp
        - richweb_nginx_conf
      domains:
        - "{{ richweb_domain }}"
      traefik_enabled: true

    wp_php:
      image: "{{ wp_images.wp_php }}"
      networks:
        - richweb_net
      volumes:
        - richweb_wp

    mariadb:
      image: "{{ wp_images.mariadb }}"
      networks:
        - richweb_net
      volumes:
        - richweb_db

  petitsanglais:
    cloudflared_enabled: true
    cloudflared_origin_verify: true
    cloudflare_zone: "{{ petitsanglais_domain }}"
    domains:
      - "{{ petitsanglais_domain }}"
      - "www.{{ petitsanglais_domain }}"

    nginx:
      traefik_network: "wpsites_net"
      image: "{{ wp_images.nginx }}"
      networks:
        - wpsites_net
        - petitsanglais_net
      volumes:
        - petitsanglais_wp
        - petitsanglais_nginx_conf
      domains:
        - "{{ petitsanglais_domain }}"
        - "www.{{ petitsanglais_domain }}"
      traefik_enabled: true

    wp_php:
      image: "{{ wp_images.wp_php }}"
      networks:
        - petitsanglais_net
      volumes:
        - petitsanglais_wp

    mariadb:
      image: "{{ wp_images.mariadb }}"
      networks:
        - petitsanglais_net
      volumes:
        - petitsanglais_db

  esperance:
    cloudflared_enabled: true
    cloudflared_origin_verify: true
    cloudflare_zone: "{{ esperanceorg_domain }}"
    domains:
      - "{{ esperanceorg_domain }}"
      - "www.{{ esperanceorg_domain }}"

    nginx:
      traefik_network: "wpsites_net"
      image: "{{ wp_images.nginx }}"
      networks:
        - wpsites_net
        - esperance_net
      volumes:
        - esperance_wp
        - esperance_nginx_conf
      domains:
        - "{{ esperanceorg_domain }}"
        - "www.{{ esperanceorg_domain }}"
      traefik_enabled: true

    wp_php:
      image: "{{ wp_images.wp_php }}"
      networks:
        - esperance_net
      volumes:
        - esperance_wp

    mariadb:
      image: "{{ wp_images.mariadb }}"
      networks:
        - esperance_net
      volumes:
        - esperance_db

  # ------ APPS ---------

  bentopdf:
    image: "bentopdf/bentopdf:latest"
    networks:
      - apps_net
    volumes: []
    domains:
      - "{{ bentopdf_domain }}"
    traefik_enabled: true
    cloudflared_enabled: true
    cloudflared_origin_verify: true
    cloudflare_zone: "{{ root_domain }}"

  semaphore:
    version: "v1.16.51"
    networks: []
    volumes: []
    domains:
      - "{{ semaphore_domain }}"
    traefik_enabled: false
    cloudflared_enabled: true
    cloudflared_origin_verify: true
    cloudflare_zone: "{{ root_domain }}"

  # ------ INFRA / TOOLING ---------

  terraform:
    image: "hashicorp/terraform:1.14.3"
    networks:
      - terra_net
    volumes:
      - /srv/data/terraform_data:/data
    domains: []
    traefik_enabled: false
    cloudflared_enabled: false
    cloudflared_origin_verify: false

  minio:
    image: "minio/minio:latest"
    volumes:
      - minio_data
    domains: []
    networks: []
    traefik_enabled: false
    cloudflared_enabled: false
