http:
  routers:
    traefik-dashboard:
      rule: "Host(`traefik.pearsalls.online`)"
      entryPoints:
        - websecure
      service: api@internal
      tls: {}
{% for name, svc in services.items() %}
{%   if svc.ip is defined %}
    wp-{{ name }}:
      rule: "Host(`{{ svc.domains | first }}`)"
      entryPoints:
        - websecure
      service: wp-{{ name }}
      tls: {}
{%   endif %}
{% endfor %}
    vaultwarden:
      rule: "Host(`{{ vault_domain }}`)"
      entryPoints:
        - websecure
      service: vaultwarden
      tls: {}

  services:
{% for name, svc in services.items() %}
{%   if svc.ip is defined %}
    wp-{{ name }}:
      loadBalancer:
        servers:
          - url: "http://{{ svc.ip }}"
{%   endif %}
{% endfor %}
    vaultwarden:
      loadBalancer:
        servers:
          - url: "http://10.40.0.10:8080"
