---
- name: Provision Cloudflared base system
  include_tasks: provision.yml

- name: Update DNS + ingress rules
  include_tasks: dns-ingress.yml

- name: Ensure Cloudflared is running
  include_tasks: run.yml
