ROCKET_ADDRESS=0.0.0.0
ROCKET_PORT={{ vaultwarden_port }}
DATA_FOLDER={{ vaultwarden_data_dir }}
DOMAIN=https://{{ vaultwarden_domain }}
SIGNUPS_ALLOWED=false
INVITATIONS_ALLOWED=true
WEBSOCKET_ENABLED=true
LOG_FILE={{ vaultwarden_data_dir }}/vaultwarden.log
LOG_LEVEL=warn
{% if vaultwarden_admin_enabled %}
ADMIN_TOKEN={{ vaultwarden_admin_token }}
{% endif %}
