services:

  terraform:
    image: "{{ services.terraform.image }}"
    container_name: "terraform"
    restart: unless-stopped

    working_dir: /data

    networks:
{% for net in services.terraform.networks %}
      - {{ net }}
{% endfor %}

    volumes:
{% for vol in services.terraform.volumes %}
      - {{ vol }}
{% endfor %}

    environment:
      PM_API_URL: "{{ proxmox_api_url }}"
      PM_API_TOKEN_ID: "{{ proxmox_api_token_id }}"
      PM_API_TOKEN_SECRET: "{{ proxmox_api_token_secret }}"

    # No Traefik, no Cloudflared, no ports

networks:
{% for net in services.terraform.networks %}
  {{ net }}:
    external: true
{% endfor %}
