- name: Normalize service definitions
  set_fact:
    normalized_services: >-
      {{
        normalized_services | default({}) |
        combine({
          item.key: {
            'domains': (
              (item.value.domains | default([]))
              +
              (item.value.nginx.domains
                if (item.value.nginx is defined and item.value.nginx.domains is defined)
                else [])
            ),
            'cloudflared_enabled': item.value.cloudflared_enabled | default(false),
            'traefik_enabled': item.value.traefik_enabled | default(false),
            'cloudflare_zone': item.value.cloudflare_zone | default(primary_domain),
            'service': item.value
          }
        })
      }}
  loop: "{{ services | dict2items }}"
  loop_control:
    loop_var: item
