---
- name: Create base directory for site
  file:
    path: "/srv/wp/{{ site_name }}"
    state: directory
    owner: root
    group: root
    mode: "0755"
    recurse: yes

- name: Create wp-content directory
  file:
    path: "/srv/wp/{{ site_name }}/wp-content"
    state: directory
    owner: www-data
    group: www-data
    mode: "0755"
    recurse: yes

- name: Create MariaDB data directory
  file:
    path: "/srv/wp/{{ site_name }}/db"
    state: directory
    owner: 1001
    group: 1001
    mode: "0755"
    recurse: yes

- name: Create Nginx config file placeholder
  file:
    path: "/srv/wp/{{ site_name }}/nginx.conf"
    state: touch
    owner: root
    group: root
    mode: "0644"

- name: Create PHP config file placeholder
  file:
    path: "/srv/wp/{{ site_name }}/php.ini"
    state: touch
    owner: root
    group: root
    mode: "0644"
