---
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes

- name: Install Ansible from Debian 13 official repos
  ansible.builtin.apt:
    name:
      - ansible
      - ansible-core
      - libssh-dev
      - python3-dev
    state: present

- name: Install vyos.vyos ansible collection
  community.general.ansible_galaxy_install:
    type: collection
    name: vyos.vyos
  when: inventory_hostname == 'docker-srv'

# ----------------------------------------
# PIP PACKAGES
# ----------------------------------------
- name: Install pip packages
  ansible.builtin.pip:
    name: "{{ pip_packages }}"
    extra_args: "--break-system-packages"
  when: pip_packages is defined
