---
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes

- name: Install Ansible from Debian 13 official repos
  ansible.builtin.apt:
    name:
      - ansible
      - ansible-core
    state: present

- name: Install vyos.vyos ansible collection
  community.general.ansible_galaxy_install:
    type: collection
    name: vyos.vyos
  when: inventory_hostname == 'docker-srv'
