---
- name: **Create Traefik base directory**
  ansible.builtin.file:
    path: /opt/traefik
    state: directory
    mode: '0755'

- name: **Create subdirectories**
  ansible.builtin.file:
    path: "/opt/traefik/{{ item }}"
    state: directory
    mode: '0755'
  loop:
    - dynamic
    - certs
    - logs

- name: **Deploy static config**
  ansible.builtin.template:
    src: traefik.yml.j2
    dest: /opt/traefik/traefik.yml
    mode: '0644'

- name: **Deploy dynamic routers**
  ansible.builtin.template:
    src: dynamic/routers.yml.j2
    dest: /opt/traefik/dynamic/routers.yml
    mode: '0644'

- name: **Deploy dynamic services**
  ansible.builtin.template:
    src: dynamic/services.yml.j2
    dest: /opt/traefik/dynamic/services.yml
    mode: '0644'

- name: **Copy Cloudflare origin cert**
  ansible.builtin.copy:
    src: certs/origin.pem
    dest: /opt/traefik/certs/origin.pem
    mode: '0600'

- name: **Copy Cloudflare origin key**
  ansible.builtin.copy:
    src: certs/origin.key
    dest: /opt/traefik/certs/origin.key
    mode: '0600'

- name: **Deploy docker-compose.yml**
  ansible.builtin.template:
    src: docker-compose.yml.j2
    dest: /opt/traefik/docker-compose.yml
    mode: '0644'

- name: **Start Traefik via Docker Compose**
  ansible.builtin.command:
    cmd: docker compose up -d
    chdir: /opt/traefik
