services:
  grafana:
    image: "grafana/grafana:12.3"
    networks:
      - monitoring_net
      - internal_net
    volumes:
      - grafana_data
    domains:
      - "grafana.pearsalls.fr"
    traefik_enabled: true
    cloudflared_enabled: true
    cloudflared_origin_verify: true
    cloudflare_zone: "pearsalls.fr"

  prometheus:
    image: "prom/prometheus:v3.9.1"
    networks:
      - monitoring_net
      - internal_net
    volumes:
      - prometheus_data
    domains:
      - "prometheus.pearsalls.fr"
    traefik_enabled: true
    cloudflared_enabled: true
    cloudflared_origin_verify: true
    cloudflare_zone: "pearsalls.fr"

  loki:
    image: "grafana/loki:3.6.4"
    networks:
      - monitoring_net
      - internal_net
    volumes:
      - loki_data
      - loki_wal
    domains:
      - "loki.pearsalls.fr"
    traefik_enabled: true
    cloudflared_enabled: true
    cloudflared_origin_verify: true
    cloudflare_zone: "pearsalls.fr"

  promtail:
    image: "grafana/promtail:3.6.4"
    networks:
      - monitoring_net
    volumes: []
    domains: []
    traefik_enabled: false

  cadvisor:
    image: "gcr.io/cadvisor/cadvisor:latest"
    networks:
      - monitoring_net
    volumes: []
    domains: []
    traefik_enabled: false

  node_exporter:
    image: "prom/node-exporter:latest"
    networks:
      - monitoring_net
    volumes: []
    domains: []
    traefik_enabled: false
