crowdsec_lapi_url: http://crowdsec:8080
crowdsec_lapi_key: "{{ crowdsec_lapi_key }}"

cloudflare:
  api_token: "{{ cloudflare_api_token }}"
  account_id: "{{ cloudflare_account_id }}"
  zone_id: "{{ cloudflare_zone_id }}"
  ip_list_prefix: "crowdsec"
  default_action: "block"
  update_frequency: "10s"

