services:
  traefik:
    image: "{{ services.traefik.image }}"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    container_name: traefik
    restart: always
    user: "0:{{ docker_group_gid }}"
    ports:
      - "443:443"
      - "80:80"
      - "8080:8080"
    networks:
{% for net in services.traefik.networks %}
      - {{ net }}
{% endfor %}
    labels:
      - "traefik.enable=true"
{% if services.traefik.traefik_enabled %}
{% for domain in services.traefik.domains %}
      - "traefik.http.routers.traefik.rule=Host(`{{ domain }}`)"
      - "traefik.http.routers.traefik.entrypoints=websecure"
      - "traefik.http.routers.traefik.tls=true"
      - "traefik.http.routers.traefik.service=api@internal"
      - "traefik.http.services.traefik.loadbalancer.server.port=8080"
{% endfor %}
{% endif %}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /opt/traefik/traefik.yml:/traefik.yml:ro
      - /opt/traefik/dynamic:/dynamic:ro
      - /opt/traefik/certs:/certs:ro
      - /opt/traefik/logs:/logs
{% for vol in services.traefik.volumes %}
      - {{ vol }}:/data
{% endfor %}
    command:
      - "--configFile=/traefik.yml"

  redirect-eglise:
    image: traefik/whoami
    container_name: redirect_eglise
    networks:
      - CF_net
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=CF_net"
      - "traefik.http.routers.eglise.rule=Host(`egliseesperanceagde.fr`) || Host(`www.egliseesperanceagde.fr`)"
      - "traefik.http.routers.eglise.entrypoints=websecure"
      - "traefik.http.routers.eglise.tls=true"
      - "traefik.http.middlewares.eglise-redirect.redirectregex.regex=^https?://(www.)?egliseesperanceagde.fr(.*)"
      - "traefik.http.middlewares.eglise-redirect.redirectregex.replacement=https://epagde.wixsite.com/esperance34$$2"
      - "traefik.http.middlewares.eglise-redirect.redirectregex.permanent=true"
      - "traefik.http.routers.eglise.middlewares=eglise-redirect"

  crowdsec:
    image: "{{ services.crowdsec.image }}"
    container_name: crowdsec
    restart: always
    networks:
      - crowd_net
    ports:
      - "8080"
    volumes:
{% for vol in services.crowdsec.volumes %}
      - {{ vol }}:/var/lib/crowdsec/data
{% endfor %}
      - /opt/traefik/logs:/var/log/traefik:ro
    environment:
      - COLLECTIONS=crowdsecurity/traefik
      - TZ=Europe/Paris
      - LAPI_LISTEN=0.0.0.0:8080

  cf-bouncer:
    image: "{{ services.cf_bouncer.image }}"
    container_name: cf-bouncer
    restart: always
    depends_on:
      - crowdsec
    entrypoint: >
      /bin/sh -c "sleep 20 && exec /usr/local/bin/crowdsec-cloudflare-bouncer -c /etc/crowdsec/bouncers/crowdsec-cloudflare-bouncer.yaml"
    networks:
      - crowd_net
    volumes:
      - /opt/crowdsec/cf-bouncer/crowdsec-cloudflare-bouncer.yaml:/etc/crowdsec/bouncers/crowdsec-cloudflare-bouncer.yaml:ro

{% set all_networks = (services.traefik.networks) | unique %}
networks:
  crowd_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.30.0.0/24
{% for net in all_networks %}
  {{ net }}:
    external: true
{% endfor %}

{% set all_volumes = (services.traefik.volumes + services.crowdsec.volumes) | unique %}
volumes:
{% for vol in all_volumes %}
  {{ vol }}:
    external: true
{% endfor %}
