services:

  prometheus:
    image: "{{ services.prometheus.image }}"
    container_name: prometheus
    volumes:
      - prometheus_data:/prometheus
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
    networks:
{% for net in services.prometheus.networks %}
      - {{ net }}
{% endfor %}
    labels:
{% if services.prometheus.traefik_enabled %}
      - 'traefik.enable=true'
      - 'traefik.http.routers.prometheus.rule=Host("{{ services.prometheus.domains[0] }}")'
      - 'traefik.http.routers.prometheus.entrypoints=websecure'
      - 'traefik.http.routers.prometheus.tls=true'
      - 'traefik.http.services.prometheus.loadbalancer.server.port=9090'
{% endif %}
    restart: unless-stopped

  node-exporter:
    image: "{{ services.node_exporter.image }}"
    container_name: node-exporter
    pid: host
    network_mode: host
    restart: unless-stopped

  cadvisor:
    image: "{{ services.cadvisor.image }}"
    container_name: cadvisor
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    ports:
      - "8081:8080"
    networks:
{% for net in services.cadvisor.networks %}
      - {{ net }}
{% endfor %}
    restart: unless-stopped

  loki:
    image: "{{ services.loki.image }}"
    container_name: loki
    volumes:
      - loki_data:/loki
      - loki_wal:/wal
      - ./loki/loki-config.yml:/etc/loki/loki-config.yml:ro
    command: 
      - "-config.file=/etc/loki/loki-config.yml"
    networks:
{% for net in services.loki.networks %}
      - {{ net }}
{% endfor %}
    labels:
{% if services.loki.traefik_enabled %}
      - 'traefik.enable=true'
      - 'traefik.http.routers.loki.rule=Host("{{ services.loki.domains[0] }}")'
      - 'traefik.http.routers.loki.entrypoints=websecure'
      - 'traefik.http.routers.loki.tls=true'
      - 'traefik.http.services.loki.loadbalancer.server.port=3100'
{% endif %}
    restart: unless-stopped

  promtail:
    image: "{{ services.promtail.image }}"
    container_name: promtail
    volumes:
      - /var/log:/var/log
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - ./promtail/promtail-config.yml:/etc/promtail/promtail-config.yml:ro
    command:
      - "-config.file=/etc/promtail/promtail-config.yml"
    networks:
{% for net in services.promtail.networks %}
      - {{ net }}
{% endfor %}
    restart: unless-stopped

  grafana:
    image: "{{ services.grafana.image }}"
    container_name: grafana
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
    networks:
{% for net in services.grafana.networks %}
      - {{ net }}
{% endfor %}
    labels:
{% if services.grafana.traefik_enabled %}
      - 'traefik.enable=true'
      - 'traefik.http.routers.grafana.rule=Host("{{ services.grafana.domains[0] }}")'
      - 'traefik.http.routers.grafana.entrypoints=websecure'
      - 'traefik.http.routers.grafana.tls=true'
      - 'traefik.http.services.grafana.loadbalancer.server.port=3000'
{% endif %}
    restart: unless-stopped


{# ----------------------------- #}
{#  COLLECT UNIQUE NETWORKS      #}
{# ----------------------------- #}

{% set all_networks = [] %}
{% for svc in ['prometheus','cadvisor','loki','promtail','grafana'] %}
  {% for net in services[svc].networks %}
    {% if net not in all_networks %}
      {% set _ = all_networks.append(net) %}
    {% endif %}
  {% endfor %}
{% endfor %}

networks:
{% for net in all_networks %}
  {{ net }}:
    external: true
{% endfor %}


{# ----------------------------- #}
{#  COLLECT UNIQUE VOLUMES       #}
{# ----------------------------- #}

{% set all_volumes = [] %}
{% for svc in ['prometheus','loki','grafana'] %}
  {% for vol in services[svc].volumes %}
    {% if vol not in all_volumes %}
      {% set _ = all_volumes.append(vol) %}
    {% endif %}
  {% endfor %}
{% endfor %}

volumes:
{% for vol in all_volumes %}
  {{ vol }}:
    external: true
{% endfor %}

