apiVersion: 1

datasources:

  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://{{ ansible_default_ipv4.address }}:9090
    isDefault: true
    editable: false

  - name: Loki
    type: loki
    access: proxy
    url: http://{{ ansible_default_ipv4.address }}:3100
    editable: false
