global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:

  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['{{ ansible_default_ipv4.address }}:9100']

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['{{ ansible_default_ipv4.address }}:8080']

  - job_name: 'traefik'
    metrics_path: /metrics
    static_configs:
      - targets: ['{{ traefik_host | default(ansible_default_ipv4.address) }}:8082']

  - job_name: 'loki'
    metrics_path: /metrics
    static_configs:
      - targets: ['{{ ansible_default_ipv4.address }}:3100']
