---
- name: Deploy a WordPress site end-to-end
  hosts: srv2
  become: true

  vars_files:
    - ../group_vars/all/vault.yml
    - ../group_vars/all/services.yml
    - ../group_vars/all/networks.yml
    - ../group_vars/all/volumes.yml
    - ../group_vars/all/domains.yml

  vars:
    site_name: "{{ site_name }}"

  roles:
    - docker-networks
    - docker-volumes
    - "wp-sites/{{ site_name }}"

  tasks:
    - name: Update Cloudflare DNS + ingress for this site
      import_role:
        name: cloudflared
        tasks_from: dns-ingress.yml
