---
- name: Deploy full edge stack on srv2
  hosts: srv2
  become: true

  vars_files:
    - ../group_vars/all/vault.yml
    - ../group_vars/all/services.yml
    - ../group_vars/all/networks.yml
    - ../group_vars/all/volumes.yml
    - ../group_vars/all/domains.yml

  roles:
    - traefik
    - cloudflared
    - crowdsec

