---
- name: Full server deployment
  hosts: srv2
  become: true

  vars_files:
    - ../group_vars/all/vault.yml
    - ../group_vars/all/services.yml
    - ../group_vars/all/networks.yml
    - ../group_vars/all/volumes.yml
    - ../group_vars/all/domains.yml

  roles:
    - docker
    - docker-networks
    - docker-volumes
    - traefik
    - cloudflared
    - crowdsec
    - monitoring
    - dozzle
    - bentopdf
    - wp-sites/richweb
