---
- name: Full server deployment
  hosts: docker-srv
  become: true

  vars_files:
    - ../group_vars/all/vault.yml
    - ../group_vars/all/services.yml
    - ../group_vars/all/networks.yml
    - ../group_vars/all/volumes.yml
    - ../group_vars/all/domains.yml

  roles:
    - docker
    - docker-networks
    - docker-volumes
    - common
    - traefik
    - cfjson
    - cloudflared
    - crowdsec
    - monitoring
    - dozzle
#    - terraform
    - bentopdf
    - wp-sites/richweb
    - wp-sites/petitsanglais
    - wp-sites/esperance
