PM_API_URL              = "{{ PM_API_URL }}"
PM_API_TOKEN_ID         = "{{ PM_API_TOKEN_ID }}"
PM_API_TOKEN_SECRET     = "{{ PM_API_TOKEN_SECRET }}"
PM_API_PASSWORD         = "{{ PM_API_PASSWORD }}"
VAULTWARDEN_ROOT_PASSWORD = "{{ VAULTWARDEN_ROOT_PASSWORD }}"
