---
- name: restart nginx
  ansible.builtin.service:
    name: nginx
    state: restarted

- name: restart php-fpm
  ansible.builtin.service:
    name: "php{{ wp_php_version }}-fpm"
    state: restarted

- name: restart mariadb
  ansible.builtin.service:
    name: mariadb
    state: restarted
