services:
  minio:
    image: "{{ services.minio.image }}"
    container_name: minio
    restart: always
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: "{{ minio_root_user }}"
      MINIO_ROOT_PASSWORD: "{{ minio_root_password }}"
    ports:
      - "9000:9000"   # Terraform S3 backend endpoint
      - "9001:9001"   # MinIO web console
    volumes:
      - minio_data:/data

volumes:
  minio_data:
    external: true
