[Unit]
Description=Restic prune for {{ repo.name }}
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
EnvironmentFile=/etc/restic/{{ repo.name }}.env
ExecStart=/usr/bin/restic forget --keep-daily {{ restic_retention.daily }} --keep-weekly {{ restic_retention.weekly }} --keep-monthly {{ restic_retention.monthly }} --prune
Nice=10
