services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    restart: always
    command: tunnel run
    networks:
      - CF-net
    volumes:
      - /opt/cloudflared:/etc/cloudflared

networks:
  CF-net:
    external: true
