server {
    listen 80;
    server_name {{ services[site_name].nginx.domains[0] }};
    root /var/www/html;

    index index.php index.html;

    # Main request handler
    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    # PHP handling
    location ~ \.php$ {
        include fastcgi_params;
        fastcgi_pass {{ site_name }}_php:9000;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;

        # Required for Cloudflare + Traefik + WordPress
        fastcgi_param HTTPS on;
        fastcgi_param HTTP_X_FORWARDED_PROTO $scheme;
        fastcgi_param HTTP_X_FORWARDED_HOST $host;
        fastcgi_param HTTP_X_FORWARDED_FOR $proxy_add_x_forwarded_for;
    }

    client_max_body_size 64M;
}
